/*-----------------------------------------------------
  Global Styles
-----------------------------------------------------*/
p.centred{
  text-align: center;
  font-family: 'Poiret One', sans-serif;
  font-size: 2em;
}

.row{
  max-width:100%;
}

a{
  color: #777;
  transition: color 1s ease;
}
a:hover, a:focus{
  color: #bbb;

}

.fa{
  font-size: 2.5em;
  padding: 0 0.3em;
  margin: 0 0.3em;
}

/*-----------------------------------------------------
  Header Area
-----------------------------------------------------*/
#header-bar{
  margin: 3em;
}

#social-media{
  text-align: right;
}


/*-----------------------------------------------------
  Body Image Area
-----------------------------------------------------*/

#body-image{

}
.app-links{
  text-align: center;
}


/*-----------------------------------------------------
  Media Queries
-----------------------------------------------------*/
@media (max-width: 520px) {
  .fa {
    margin: 0 0.1em;
  }

}
