/*-----------------------------------------------------
  Global Styles
-----------------------------------------------------*/
.centred{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
p{

  font-family: 'Poiret One', sans-serif;
  font-size: 1.8em;
}

.row{
  max-width:100%;
}

a, i{
  color: #777;
  transition: color 1s ease;
}
a:hover i, a:focus i{
  color: #bbb;

}

.fa, .app-links .fa{
  font-size: 2.3em;
  padding: 0 0.3em;
  margin: 0.5em 0.3em;
}

/*-----------------------------------------------------
  Header Area
-----------------------------------------------------*/
#header-bar{
  margin: 3em;
}

#social-media{
  text-align: right;
}



/*-----------------------------------------------------
  Body Image Area
-----------------------------------------------------*/
#body-image {
  padding:1em 0;
}


#body-image img{
  margin-bottom:2em;

}
.app-links{
  text-align: center;
}


/*-----------------------------------------------------
  Media Queries
-----------------------------------------------------*/
/*large up */
@media (min-width: 64em) {
  #logo{
    max-width:400px;
  }
}
/*medium down */
@media (max-width: 64em) {
  .fa {
    margin: 0 0.2em;
    font-size: 1.8em;
  }
  #logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*small only */
@media (max-width: 40em) {
  .fa {
    margin: 0.5em 0.1em;
    font-size: 1.8em;
  }
  #social-media{
    text-align: center;
    padding-top: 1em;
  }
  #header-bar{
    margin:1em 0 0 0;
  }

}
